.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  color: white;
}

.App-link {
  color: #61dafb;
}
